{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{{ indexpages.page.page_title }}<h1>
        <div class="lead">{{ indexpages.page.page_subtitle|richtext }}</div>
    </div>
    <div class="container">
        <div class="nav">
                <button class="btn btn-primary" id ="ADD"><h2>LANGUAGES</h2></button>
        </div>   
        <script>
                var lng = [];
        </script>
        <!-- Add Language  -->
        {% if languagepages %}
            {% for language in languagepages %}
                <!-- Show Language specific Content  -->
                <script>
                    lng.push(`{{language.language_title}}`);
                    var var1 = "{{language.language_title}}";
                    var mybtn = document.createElement("button");
                    mybtn.setAttribute("id", var1);
                    mybtn.setAttribute("onclick","myFunction('"+var1+"')");
                    var textnode = document.createTextNode(var1);           
                    mybtn.appendChild(textnode);                      
                    document.getElementById(`ADD`).appendChild(mybtn);
                </script>
                <!-- Show First Language on pageload -->
                {% if languagepages|first|stringformat:"s" == language.language_title|stringformat:"s" %}
                    <div id="my{{ language.language_title }}" class="mt-5">
                        <h2>{{ language.language_title }} Syntax</h2>
                        <p>{{ language.content }}</p>
                        <h2>What is {{ language.language_title }}?</h2>
                        <p>{{ language.language_content_detail }}</p>
                        <h2>{{ language.language_title }} detail</h2>
                        <p>{{ language.language_extra_detail|richtext }}</p>
                    </div>
                <!-- Show Laguages as a button with hide content -->
                {% else %}
                    <div id="my{{ language.language_title }}" hidden class="mt-5">
                        <h2>{{ language.language_title }} Syntax</h2>
                        <p>{{ language.content }}</p>
                        <h2>What is {{ language.language_title }}?</h2>
                        <p>{{ language.language_content_detail }}</p>
                        <h2>{{ language.language_title }} detail</h2>
                        <p>{{ language.language_extra_detail|richtext }}</p>
                    </div>
                {% endif %}

            {% endfor %}
        <!-- If not Language -->
        {% else %}
            <p>
                <h1 class="jumbotron">Add <i>LANGUAGE(S)</i> in Wagtail Admin :-)</h1>
            </p>
        {% endif %}
    </div>
{% endblock content %}

{% block extra_js %} 
    <script>
            function myFunction(var1) {
                for (let i = 0, len = lng.length; i < len; i++) {
                    if (lng[i] === var1) {
                        document.getElementById("my"+var1).hidden = false;  
                    }
                    else{
                        document.getElementById("my"+lng[i]).hidden = true;    
                    }               
                }
            }
    </script>
{% endblock %}