{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{{ indexpages.page.page_title }}<h1>
        <div class="lead">{{ indexpages.page.page_subtitle|richtext }}</div>
    </div>
    <div class="container">
        <div class="nav">
                <button class="btn btn-primary" id ="ADD"><h2>LANGUAGES</h2></button>
        </div>   
        <script>
                var lng = [];
        </script>
        {% for language in languagepages %} 
            <script>
                lng.push(`{{language}}`);
                var var1 = "{{language.language_title}}";
                var mybtn = document.createElement("button");
                mybtn.setAttribute("id", var1);
                mybtn.setAttribute("onclick","myFunction('"+var1+"')");
                var textnode = document.createTextNode(var1);           
                mybtn.appendChild(textnode);                      
                document.getElementById(`ADD`).appendChild(mybtn);
            </script>

            <div id="my{{ language.language_title }}" hidden class="mt-5">
                <h2>{{ language.language_title }} Syntax</h2>
                <p>{{ language.content }}</p>
                <h2>What is {{ language.language_title }}?</h2>
                <p>{{ language.language_content_detail }}</p>
                <h2>{{ language.language_title }} detail</h2>
                <p>{{ language.language_extra_detail|richtext }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}


{% block extra_js %}
{# Override this in templates to add extra javascript #} 
<script>
        function myFunction(var1) {
            for (let i = 0, len = lng.length; i < len; i++) {
                if (lng[i] === var1) {
                    document.getElementById("my"+var1).hidden = false;
                } 
                else {
                    console.log("my"+lng[i]);
                    document.getElementById("my"+lng[i]).hidden = true;
                }               
            }
        }
</script>
{% endblock %}